.container{
  display: flex;
  align-items: center;
  height: 100vh;
}
.mat-card{
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: azure;
}

.submit-button-row {
  display: flex;
  flex-direction: row-reverse;
}
